<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "meta.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}

    {{ partial "title.html" . }}

    <style>
      ul { font-family: 'Lato', sans-serif; font-size: 16px; margin-left: 20px; }
    </style>

    <div class="container mtb">
      <div class="row">
        <p>Tražimo osobu sa 2 ili više godina iskustva iza sebe da se priključi Orange Iceberg timu u Novom Sadu kao web developer. Treba nam odgovorna osoba spremna na stalno učenje i usavršavanje, ali i deljenje stečenog znanja sa drugima.</p>

        <p>Trebalo bi da znaš sledeće:</p>

        <ul>
          <li>Kako funkcioniše web. Šta je DNS, HTTP, SSH i ostale skraćenice.</li>
          <li>Neki dinamični programski jezik, idealno Ruby.</li>
          <li>Osnove HTML, CSS i JavaScript-a.</li>
          <li>Poznaješ SQL, umeš da koristiš neki ORM.</li>
          <li>Znaš da napraviš web aplikaciju.</li>
        </ul>

        <p>Ukoliko misliš da se makar delimično uklapaš u ovaj opis, javi nam se.</p>

        <p>Možemo ti ponuditi:</p>

        <ul>
          <li>Rad na projektima koji pretežno koriste Ruby, Rails, MySQL, Postgres, ali i mnoge druge tehnologije.</li>
          <li>Fleksibilno radno vreme i povremen rad od kuće.</li>
          <li>Prijateljsku radnu atmosferu.</li>
          <li>Rad na novom Apple računaru.</li>
          <li>Priliku za učenje i usavršavanje.</li>
        </ul>

        <p>Ako si zainteresovan(a), predstavi nam se email-om na posao@orangeiceberg.com. Kaži nam nešto o svom dosadašnjem radnom iskustvu, zašto misliš da si kvalifikovan za ovaj posao i zašto si se odlučio da se prijaviš baš za ovaj posao. Odabrane kandidate ćemo kontaktirati za dalji intervju.</p>

        <p>Rok za prijave 02.10.2015.</p>
      </div><!--/row -->
    </div><!--/container -->
  </body>
</html>
