---
layout: oi
title: About
---

<div class="container mtb">
  <div class="row">
    <div class="col-lg-6">
      <!-- TODO replace placeholder -->
      <img class="img-responsive" src="/assets/img/agency.jpg" alt="">
    </div>

    <div class="col-lg-6">
      <h4>More About Orange Iceberg.</h4>
      <p>
        Orange Iceberg is a small web development company focused on creating web
        applications.

        From an idea through planning, building, testing, and launching.
      </p>
      {% comment %}
      <p>
        Orange Iceberg web development is a sole proprietorship of Slobodan Kovačević.
        Which is just a fancy way of saying that I do freelance work under the name of
        Orange Iceberg.
        <a title="Hire me" href="/contact">Want to hire me?</a>
      </p>

      <h4>Who am I?</h4>
      <p>
        My name is Slobodan Kovačević. I have been a professional web developer for
        past decade, more precisely since 1998. Computers have been my love since I
        was a little kid and I have been messing with them way before I started using
        them professionally.
      </p>
      <p>
        I have been freelancing from 1998 until September 2001 when I co-founded Array
        Studio, a small web development company which at one point had grew up to 6
        developers/designers. Over period of 7 years I worked as CEO and lead
        developer in Array Studio.
      </p>
      <p>
        In June 2008 I sold my share of Array Studio and went back to freelancing
        through Orange Iceberg.
      </p>
      <p>
        If you have a desire to know even more about me then go to
        <a title="Slobodan Kovacevic - web developer" href="http://slobodankovacevic.com">my personal site</a>.
      </p>

      <h4>Why the name Orange Iceberg?</h4>
      <p>
        An iceberg is sometimes over 90% underwater and only tip is visible. Well,
        most web applications (and software in general) are like that too &#8211;
        there&#8217;s a pretty user interface that makes about 10% of a web app, and
        then 90% of the programming work is under the covers.
      </p>
      <p>
        I make web apps and web apps are like icebergs in some sense, so it just made
        sense.
      </p>
      <p>
        And why Orange&#8230; Well, why not?
        <img src='/images/smilies/icon_smile.gif' alt=':)' class='wp-smiley' />
      </p>

      <h4>What do I do?</h4>
      <p>
        Last year or two I have been focusing on creating web apps using Ruby on Rails,
        but before that I have mainly used PHP for web development. Actually,
        there&#8217;s a
        <a title="Services provided by Orange Iceberg" href="/what-i-do">What do I do page</a>
        &#8211; so read it for more details.
      </p>
      {% endcomment %}

      <h4>Do you have another question?</h4>
      <p>
        If there&#8217;s anything you&#8217;d like to know about Orange Iceberg or
        myself please don&#8217;t hesitate to
        <a title="Contact me if you have more questions" href="/contact" class="btn btn-theme">contact me</a>.
      </p>
    </div>
  </div><!--/row -->
</div><!--/container -->

<div class="container mtb">
  <div class="row centered">
    <h3 class="mb">MEET OUR TEAM</h3>

    {% for member in site.data.team %}
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="he-wrap tpl6">
          <img src="/assets/images/team/{{ member.photo }}" alt="{{ member.name }} - {{ member.role }}">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">Find me on:</h3>
              {% if member.github %}
                <a href="{{ member.github }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-github"></i></a>
              {% endif %}
              {% if member.twitter %}
                <a href="{{ member.twitter }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-twitter"></i></a>
              {% endif %}
              {% if member.linkedin %}
                <a href="{{ member.linkedin }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-linkedin"></i></a>
              {% endif %}
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
        <h4>{{ member.name }}</h4>
        <h5 class="ctitle">{{ member.role }}</h5>
        <p>{{ member.blurb }}</p>
        <div class="hline"></div>
      </div><!--/col-lg-3 -->
    {% endfor %}

  </div><!--/row -->
</div><!--/container -->
