     <div id="footerwrap">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h4>About</h4>
            <div class="hline-w"></div>
            <p>
              Orange Iceberg is a small web development consultancy.
              Our focus is on creating web applications using Ruby and Ruby on Rails.
            </p>
            <p>
              <a href="/contact">Contact us</a> for a free consultation.
            </p>
          </div>
          <div class="col-lg-4">
            <h4>Socialize</h4>
            <div class="hline-w"></div>
            <p>
              <a href="http://www.linkedin.com/in/slobodankovacevic"><i class="fa fa-linkedin"></i></a>
              <a href="http://www.facebook.com/thebasti"><i class="fa fa-facebook"></i></a>
              <a href="http://twitter.com/orangeicbrg"><i class="fa fa-twitter"></i></a>
              <a href="http://icebergist.com"><i class="fa fa-rss"></i></a>
              <a href="http://tumblelog.slobodankovacevic.com/"><i class="fa fa-tumblr"></i></a>
            </p>
            <br />
            <p>
              Proud member of
              <a href="http://vojvodinaictcluster.org" rel="external">
                Vojvodina ICT Cluster
                <img src="/assets/images/Vojvodina-ICT-Cluster_wide2.png" />
            </p>
          </div>
          <div class="col-lg-4">
            <h4>Contact us</h4>
            <div class="hline-w"></div>
            <p>
              Email:
              <script type="text/javascript">// <![CDATA[
                eval(decodeURIComponent('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%5c%22%6d%61%69%6c%74%6f%3a%68%65%6c%6c%6f%40%6f%72%61%6e%67%65%69%63%65%62%65%72%67%2e%63%6f%6d%5c%22%3e%68%65%6c%6c%6f%40%6f%72%61%6e%67%65%69%63%65%62%65%72%67%2e%63%6f%6d%3c%5c%2f%61%3e%27%29%3b'));
              // ]]&gt;</script>
            </p>
            <p>
              Or if you are old fashioned you can write at:
            </p>
            <p>
              Orange Iceberg Maximus doo<br />
              Fruškogorska 17a<br/>
              Novi Sad, 403041<br/>
              Serbia<br/>
            </p>
          </div>
        </div><!--/row -->
       </div>
     </div>
     <div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <a href="/">
              <img src="/images/oi-logo-footer.png" />
            </a>
          </div>
          <div class="col-lg-9">
            <p class="text-right text-muted">Orange Iceberg Maximus doo &copy; All Rights Reserved {{ .Now.Year }}.</p>
          </div>
        </div><!--/row -->
      </div><!--/container -->
     </div><!--/footerwrap -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/retina-1.1.0.js"></script>
    <script src="/assets/js/jquery.hoverdir.js"></script>
    <script src="/assets/js/jquery.hoverex.min.js"></script>
    <script src="/assets/js/jquery.prettyPhoto.js"></script>
    <script src="/assets/js/jquery.isotope.min.js"></script>
    <script src="/assets/js/custom.js"></script>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-4735545-1");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
