---
navigation:
- pretty_url: /
  url: /index.html
  title: Home
  text: What we do
- pretty_url: /about
  url: /about/index.html
  title: About
  text: More about us
- pretty_url: /what-i-do
  url: /what-i-do/index.html
  title: Services
  text: What I do
- pretty_url: /portfolio
  url: /portfolio/index.html
  title: Portfolio
  text: Our clients and recent work
- pretty_url: /contact
  url: /contact/index.html
  title: Contact
  text: Lets talk
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <title>{{ page.title }} - Orange Iceberg Web Development</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/assets/js/modernizr.min.js"></script>

    <!-- TODO move to new JS dir -->
    <script type="text/javascript" src="/javascripts/external-links.js"></script>
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/images/header-logo.png" />
          </a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            {% for link in page.navigation %}
              <li {% if page.url == link.url %}class="active"{% endif %}>
                <a href="{{link.pretty_url}}" title="{{link.text}}">
                  {{link.title}}
                </a>
              </li>
            {% endfor %}
            <li><a href="http://icebergist.com">Blog</a></li>

            {% comment %}
              <li><a href="contact.html">CONTACT</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">PAGES <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="blog.html">BLOG</a></li>
                </ul>
              </li>
            {% endcomment %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


  {% unless page.hide_title %}
    <!-- *****************************************************************************************************************
     TITLE WRAP
     ***************************************************************************************************************** -->
    <div id="titlewrap">
        <div class="container">
        <div class="row">
          <h3>{{ page.title }}</h3>
        </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /blue -->
  {% endunless %}

  {{ content }}

  <!-- *****************************************************************************************************************
   FOOTER
   ***************************************************************************************************************** -->
   <div id="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>About</h4>
          <div class="hline-w"></div>
          <!-- TODO update text -->
          <p>Orange Iceberg - Discovering hidden depths of web applications. Creating great web apps using Ruby on Rails.</p>
        </div>
        <div class="col-lg-4">
          <h4>Social Links</h4>
          <div class="hline-w"></div>
          <p>
            <a href="http://www.linkedin.com/in/slobodankovacevic"><i class="fa fa-linkedin"></i></a>
            <a href="http://www.facebook.com/thebasti"><i class="fa fa-facebook"></i></a>
            <a href="http://twitter.com/icebergist"><i class="fa fa-twitter"></i></a>
            <a href="http://icebergist.com"><i class="fa fa-rss"></i></a>
            <a href="http://tumblelog.slobodankovacevic.com/"><i class="fa fa-tumblr"></i></a>
          </p>
        </div>
        <div class="col-lg-4">
          <h4>Contact us</h4>
          <div class="hline-w"></div>
          <p>
            Email:
            <script type="text/javascript">// <![CDATA[
              eval(decodeURIComponent('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%5c%22%6d%61%69%6c%74%6f%3a%68%65%6c%6c%6f%40%6f%72%61%6e%67%65%69%63%65%62%65%72%67%2e%63%6f%6d%5c%22%3e%68%65%6c%6c%6f%40%6f%72%61%6e%67%65%69%63%65%62%65%72%67%2e%63%6f%6d%3c%5c%2f%61%3e%27%29%3b'));
            // ]]&gt;</script>
          </p>
          <p>
            Or if you are old fashioned you can write at:
          </p>
          <p>
            Orange Iceberg Maximus doo<br />
            Fruškogorska 17a<br/>
            Novi Sad, 403041<br/>
            Serbia<br/>
          </p>
        </div>
      </div><!--/row -->
     </div>
   </div>
   <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <a href="/">
            <img src="/images/oi-logo-footer.png" />
          </a>
        </div>
        <div class="col-lg-9">
          <p class="text-right text-muted">Orange Iceberg Maximus doo &copy; All Rights Reserved 2015.</p>
        </div>
      </div><!--/row -->
    </div><!--/container -->
   </div><!--/footerwrap -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/retina-1.1.0.js"></script>
    <script src="/assets/js/jquery.hoverdir.js"></script>
    <script src="/assets/js/jquery.hoverex.min.js"></script>
    <script src="/assets/js/jquery.prettyPhoto.js"></script>
    <script src="/assets/js/jquery.isotope.min.js"></script>
    <script src="/assets/js/custom.js"></script>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-4735545-1");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
  </body>
</html>

{% comment %}
<body>
<div id="fake-footer-bg">
  <div id="warper" class="clearfix">
    <div id="content" class="clearfix">
      <div id="sidebar">
        <h2>About Orange Iceberg</h2>
        <p class="clearfix">
          <img src="/images/slobodan-110x110.gif" width="86" height="86" alt="Slobodan Kovacevic" />
          My name is Slobodan Kovačević and Orange Iceberg is Ruby web
          development company. Which is a fancy way of saying that I do my
          Ruby and Rails freelance work under this name.
        </p>

        {% if page.url != "/contact/index.html" %}
          <div class="hire_me_box">
            { % comment % }
            <strong>I am available for hire.</strong>
            <p class="clearfix">
              Find out <a href="/what-i-do">how I can help you</a> or
              <a href="/contact">contact me</a>.
            </p>
            { % endcomment % }
            Currently I am not available for hire.
            <p class="clearfix">
              You can still
              <a href="/contact">contact me</a>
              if you have any questions.
            </p>
          </div>
        {% else %}
          <div class="hr"></div>
        {% endif %}
      </div>
    </div> <!-- /div id=content -->
  </div>

</body>
{% endcomment %}
