{{ if .Params.redirect_to }}
  <html>
  <head>
    <meta http-equiv="refresh" content="0; url={{ .Params.redirect_to }}">
    <link rel="canonical" href="{{ .Params.redirect_to }}" />
  </head>
  <body>
    <p>
      Orange Iceberg is now part of AxiomQ Ventures.
    </p>
    <p>
      You'll be redirected soon to <a href="{{ .Params.redirect_to }}">{{ .Params.redirect_to }}</a>
    </p>
  </body>
  </html>
{{ else }}
  <html>
  <head>
    <meta http-equiv="refresh" content="0; url=https://www.axiomq.com">
    <link rel="canonical" href="https://www.axiomq.com" />
  </head>
  <body>
    <p>
      Orange Iceberg is now part of AxiomQ Ventures.
    </p>
    <p>
      You'll be redirected soon to <a href="{{ .Params.redirect_to }}">https://www.axiomq.com</a>
    </p>
  </body>
  </html>
{{ end }}
