<html>
<head>
  <meta http-equiv="refresh" content="0; url=https://www.axiomq.com">
  <link rel="canonical" href="https://www.axiomq.com" />
</head>
<body>
  <p>
    Orange Iceberg is now part of AxiomQ Ventures.
  </p>
  <p>
    You'll be redirected soon to <a href="{{ .Params.redirect_to }}">https://www.axiomq.com</a>
  </p>
</body>
</html>
{{/*
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "meta.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}

    {{ range .Data.Pages }}
        {{if eq .Type "index" }}
            {{.Content}}
        {{end}}
    {{ end }}

    {{ partial "footer.html" . }}
  </body>
</html>
*/}}
