---
layout: oi
title: Orange Iceberg policies
---

<p><strong>Privacy policy</strong></p>
<p>Orange Iceberg will not share your personally identifiable information with other organizations for any purposes.</p>
<p>All personally identifiable information collected by Orange Iceberg is used only to complete work you have contracted us to do.</p>
<p>Changes made to this Privacy Policy will be posted at this Web location.</p>
<p><strong>Refund Policy</strong></p>
<p>2Checkout.com, Inc. is an authorized retailer of Orange Iceberg. Being a 2CO vendor, Orange Iceberg is not permitted to have a partial refund policy because, as the 2Checkout.com is our authorized reseller, our refund policy must not conflict with 2CO, which is as follows:</p>
<p>2CO vendors may issue refunds in full without the application of shipping or restocking fees. ( See <a href="https://www2.2checkout.com/documentation/operating.html">https://www2.2checkout.com/documentation/operating.html</a> for further details)</p>
<p>2CO reserves the right to issue a Refund or Cancellation without the knowledge or consent of Orange Iceberg in any case 2CO deems appropriate. Our Account will be debited by 2CO in an appropriate amount for any such Refund and 2CO shall attempt to obtain the return of any goods.</p>
